body {
    margin: 0;
    padding: 0%;
    background: #345bd1;
}

.box {
    border-radius: 24px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #e1aa52;
    box-shadow: 11px 10px 150px #888888;
}

.box h1 {
    color: rgba(231, 226, 226, 0.977);
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border-radius: 24px;
    border: 2px solid white;
    background: none;
    display: block;
    color: white;
    outline: none;
    margin: 20px auto;
    padding: 14px 10px;
    width: 200px;
    transition: 0.25s;
    text-align: center;
    font-size: medium;
}

.box ::-webkit-input-placeholder {
    color: gold;
}

.box input[type="submit"] {
    border-radius: 24px;
    border: 2px solid #2ecc71;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    display: inline;
    font-size: medium;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.box input[type="reset"] {
    border-radius: 24px;
    border: 2px solid #eb1a1a;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    display: inline;
    font-size: medium;
}

.box input[type="reset"]:hover {
    background-color: #eb1a1a;
}